<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
</head>
<body>
{{range .Wisdom}}
    {{uppercase .Name}}
{{end}}

{{range .Wisdom}}
    {{firstThree .Name}}
{{end}}

raw time: {{.Time}}
formatted time: {{fdate .Time}}
same but pipeline: {{.Time | fdate}}
</body>
</html>