<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predefined global functions</title>
</head>

<body>
{{if gt .N1 .N2}}
    First number > second number
{{end}}

{{if lt .N1 .N2}}
    First number < second number
{{end}}

{{if eq .N1 .N2}}
    First number = second number
{{end}}

{{if lt .N1 10}}
    First number < 10
{{end}}
</body>
</html>