<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nested templates</title>
</head>

<body>
<h1>Hello from index</h1>
<p>data: {{.}}</p>

<h2>{{template "polarbear" .}}</h2>
</body>
</html>