<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predefined global functions</title>
</head>

<body>
if the data it's iterable, use the <code>index</code> method
to access the element by index

{{index . 0}}
{{index . 1}}
{{index . 2}}
</body>
</html>